body {
  text-align: center;
}

footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  background-color: #3f2e4d;
  margin-top: 2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
  font-family: sans-serif;
}

p {
  text-align: center;
  font-size: 1.25rem;
  color: black;
  font-family: sans-serif;
}

img {
  height: 4rem;
  text-align: center;
}
